.Font_1{
  font-family: Work Sans;
  text-transform: uppercase;
  font-size: 20;
  line-height: 46px;
  font-weight: 300;
}

.playwrite-in-{
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
