
.pula:hover{
    transform:translateY(-5px)
}

.cresce:hover{
    font-size: 8vh;
    transition: font-size 2s ease;
}

.cresce2:hover{
    font-size: 4vh;
    transition: font-size 2s ease;
}
#logo{
    width: 5%;
    border-radius: 100%;
}

.configBox{
    height:70vh;
    box-shadow: 0vh 4px 8px rgba(255, 255, 255, 0.5);
    
}

.configBox:hover {
    transform: scale(1.1); 
}
@media (max-width: 900px) {
    
    .configBox{
        height:50vh ;
    }

    #logo{
         width: 15%;
    }
}
